
#friends-menu{
  border: 0;
  top: 560px;
  height: calc(100% - 460px);
  width: 100%;
}

.friend-panel{
  display: block;
  position: relative;
  height: 60px;
  width: 100%;
}

.friend-status-label{
  position: absolute;
  font-size: 14px;
  top: calc(50% - 24px + 30px);
  left: 20px;
}

.friend-name-label{
  position: absolute;
  font-size: 24px;
  top: calc(50% - 24px);
  left: 20px;
}

#friends-buttons-panel{
  position: absolute;
  width: 100%;
  height: 40px;
}

#add-friend-button{
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
}
