#main-menu{
  display: none;
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#side-menu{
  border: 0;
  height: 100%;
  width: 20%;
  left: calc(100% - 20%);
}



#open-challenge-menu{
  position: absolute;
  width: 100%;
  height: 160px;
  top: 400px;
  border: 0;
}

#link-select-button-panel{
  position: absolute;
  top: 370px;
  width: 100%;
  height: 30px;
}

.tab-button{
  position: relative;
  height: calc(100% - 1px);

  width: 33.7%;
  left: 4px;
  margin-left: -5px;

  font-size: 15px;
  border-width: 1px;
  color: var(--hovered-button-text);
  background: var(--hovered-button-background);
}
.tab-button:hover{
}
