#wait-spectate-menu{
  top: 255px;
  left: 50%;
  margin-left: -200px;
  height: 120px;
  width: 360px;
}

#wait-spectate-progress-bar{
  position: absolute;
  left: 20px;
  top: 100px;
  width: 320px;
  height: 5px;
}


#custom-spectate-menu{
  width: 350px;
  height: 175px;
  top: 100px;
  left: calc(50% - 175px);
}

#spectate-playerid-input{
  top: 60px;
}

#request-spectate-button{
  width: 160px;
  height: 40px;
  left: 50%;
  margin-left: -80px;
  top: 120px;
}

#spectate-history-menu{
  width: 400px;
  top: 300px;
  left: 50%;
  margin-left: -440px;
}

#spectate-history-form{
  width: 100%;
  top: 60px;
  left: 0px;
  border: 0;
}

.spectate-history-item{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #FFF;
}

.spectate-history-item-label{
  position: absolute;
  font-size: 20px;
  left: 20px;
  top: 15px;
}

#spectate-scoreboard-button{
  font-size: 24px;
  width: 200px;
  left: calc(50% - 100px);
  top: 1000px;
}
